:root{
    /* --primary-h: 143;
    --primary-s: 50%;
    --primary-l: 50%;
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l)); */
    --primary: #0C5E95;
    --secondary: #EFAA2B;
    --color-primary: #0C5E95;
    --color-white: #ffffff;
    --color-secondary:  #0B2B3F;
}
html {
    box-sizing: border-box;
    font-size: 16px;
}
*{ 
    font-family: inherit; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
}
h1, h2, h3, h4, h5, h6, .font-title{
    font-family: 'Roboto Condensed', sans-serif;
}

/*
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
*/
input,textarea{
    display: inline-block;
    outline: transparent;
}
/*base*/
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}
a{
    text-decoration: none;
}
.img-respinsive{
    display: inline-block;
    width: 100%;
    height: auto;
}

/*site*/


.sec-photos .photos{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 2rem;
}
.sec-photos figure{
    position: relative;
    margin: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.2);
}
.sec-photos figure a{
    display: block;
    width: 100%;
    height: 300px;
}
.sec-photos img{
    width: 100%;
    height: 100%;
}
.sec-photos figcaption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    border: 8px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s;
}
.sec-photos a:hover figcaption{
    visibility: visible;
    opacity: 1;
    line-height: 1.2;
    font-size: 0.9rem;
    padding: 1rem;
    text-align: center;
}
/*footer*/
.footer-links{
    background-color: var(--color-primary);
}
.footer-links .container{
    display: grid;
    grid-template-columns: 20% 2fr 2fr 1fr;
    gap: 2rem;
    padding: 3rem 1rem;
    color: var(--color-white);
}
.footer-links address{
    font-size: 1.1rem;
    font-style: normal;
}
.footer-links p{
    margin: 0;
}
.footer-links p + p{
    margin-top: 1rem;
}


.footer-links h5{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}
.footer-links ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: .86rem;
}
.footer-links li{
    /* margin: 0 0 12px; */
}
.footer-links a{
    color: var(--color-white);
    text-decoration: none;
}
.two-col{
    column-count: 2;
}
.two-col li{
    
}


/*copyright*/
.footer-copyright{
    background-color: var(--secondary);
}
.footer-copyright .container{
    color: var(--color-secondary);
    font-size: .8rem;
    text-align: center;
    padding: .6rem 1rem;
}