:root{
    --primary-h: 143;
    --primary-s: 50%;
    --primary-l: 50%;
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --secondary: #000033;
    --text-primary: #000000;
    --text-secondary:  #fff;
}
html {
    box-sizing: border-box;
    font-size: 16px;
}
*{ 
    font-family: inherit; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
}
h1, h2, h3, h4, h5, h6, .font-title{
    font-family: 'Roboto Condensed', sans-serif;
}

/*
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
*/
input,textarea{
    display: inline-block;
    outline: transparent;
}
/*base*/
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}
a{
    text-decoration: none;
}
.img-respinsive{
    display: inline-block;
    width: 100%;
    height: auto;
}

/*site*/
